# Decision Tree: <br>

## Steps to follow:- <br>

1- decide what data to use?<br>
2- Load data. <br>
3- adjust features - drop, encode and all that jazz. <br>
4- train. <br>
5- interpret. <br>

In [1]:
from sklearn import tree
import pandas as pd
import os

In [2]:
df = pd.read_csv("all_cricket_cleaned.csv")
df = df.drop(columns = ['Unnamed: 0']).set_index('index')
df.head()

,Team1,Team2,Winner,Margin,Ground,Scorecard,Match_Date,Match_Type,Month,Year
index,,,,,,,,,,
0,Australia,India,Australia,inns & 141 runs,Sydney,Test # 1481,"Jan,2,2000",Test,Jan,2000
1,South Africa,England,South Africa,inns & 37 runs,Cape Town,Test # 1482,"Jan,2,2000",Test,Jan,2000
2,South Africa,England,England,2 wickets,Centurion,Test # 1483,"Jan,14,2000",Test,Jan,2000
3,India,South Africa,South Africa,4 wickets,Mumbai,Test # 1484,"Feb,24,2000",Test,Feb,2000
4,Pakistan,Sri Lanka,Sri Lanka,2 wickets,Rawalpindi,Test # 1485,"Feb,26,2000",Test,Feb,2000

### Try dummy encoding

In [3]:
X = df[["Team1", "Team2", "Ground", "Match_Type", "Month"]]
y = df["Winner"].values.reshape(-1,1)
print(X.shape, y.shape)

(4364, 5) (4364, 1)

In [4]:
data = X.copy()

data_binary_encoded = pd.get_dummies(data, columns=["Team1", "Team2", "Ground", "Match_Type", "Month"])
data_binary_encoded.head()

,Team1_Afghanistan,Team1_Africa XI,Team1_Asia XI,Team1_Australia,Team1_Bahrain,Team1_Bangladesh,Team1_Belgium,Team1_Belize,Team1_Bermuda,Team1_Botswana,...,Month_Dec,Month_Feb,Month_Jan,Month_Jul,Month_Jun,Month_Mar,Month_May,Month_Nov,Month_Oct,Month_Sep
index,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [6]:
# output = y.copy()

# output_binary_encoded = pd.get_dummies(output, columns = ["Winner"])
# output_binary_encoded.head()

In [7]:
from sklearn.model_selection import train_test_split

X = pd.get_dummies(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

X_train.head()

,Team1_Afghanistan,Team1_Africa XI,Team1_Asia XI,Team1_Australia,Team1_Bahrain,Team1_Bangladesh,Team1_Belgium,Team1_Belize,Team1_Bermuda,Team1_Botswana,...,Month_Dec,Month_Feb,Month_Jan,Month_Jul,Month_Jun,Month_Mar,Month_May,Month_Nov,Month_Oct,Month_Sep
index,,,,,,,,,,,,,,,,,,,,,
6,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
54,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
61,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [11]:
y_train

array([['Australia'],
       ['Bangladesh'],
       ['England'],
       ...,
       ['Australia'],
       ['Ireland'],
       ['South Africa']], dtype=object)

In [12]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
label_encoder.fit(y)
encoded_y = label_encoder.transform(y)

/Users/shahzinakhan/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:95: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/shahzinakhan/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:128: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [15]:
encoded_y.shape

(4364,)

In [16]:
from keras.utils import to_categorical

one_hot_y = to_categorical(encoded_y)
one_hot_y

/Users/shahzinakhan/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [17]:
one_hot_y.shape

(4364, 51)

## Decision Tree

In [18]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.5811182401466545

In [19]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

/Users/shahzinakhan/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d
/Users/shahzinakhan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.5967002749770852

In [21]:
feature_names = data.columns
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.03890094487350996, 'Match_Type'),
 (0.009853062979731271, 'Team1'),
 (0.0003845664076895782, 'Team2'),
 (0.0001637225154429902, 'Month'),
 (0.0, 'Ground')]